/* Hiding the final one on mobile...they're using the dates here as a placeholder */
#accordion-2{
	display: none;
}

#day-20261201 .row-time-time{
	display: none;
}


body .sessions-by-track .strapline{
	color: #6975FC;
}