.sponsorship-images{
	.ergo-tiles-tile{
		margin-bottom: 0;
	}
	img{
		max-width: 100%;
	}
}


.sponsorship-contact-tiles{
	.ergo-tiles-tile{
		background: #1D384F;
		padding: 15px;
	}
	h3{
		padding-bottom: 20px;
	}
}
.sponsorship-tile-icon{
	width: 50px;
	height: 50px;
	background: #697CEC;
	border-radius: 50%;
	text-align: center;
	padding-top: 13px;
	margin: 0 auto;
	margin-top: -45px;
	margin-bottom: 25px;
}

.ergo-tiles-tile-1 .fa{
	font-size: 20px;
}
.ergo-tiles-tile-2 .fa,
.ergo-tiles-tile-3 .fa{
	font-size: 24px;
}