/* Logo Train */

	.logo-train-autoscroll-logos{
	
		.splide__track{
			height: 80px;
			margin-bottom: 100px;
		}
		.splide__slide{
			height: 80px;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	
		img{
			opacity: 0.4;
			transition: 0.2s all ease-in;
			max-width: 140px;
			max-height: 65px;
			width: auto;
			margin: 0px auto !important;

			&:hover{
				opacity: 1;
			}
		}
	}
	
/* Logo Train */