.sponsor-intro{
	padding-top: 150px;
	
	h1{
		max-width: 850px;
		margin: 0 auto;
	}
	p{
		font-size: 1.1rem;
	}
	.ergo-content-box-text{
		padding-top: 30px;
		max-width: 800px;
		margin: 0 auto;
	}
}

