.broadcast-ads{
	background: #244D6D;
	border-radius: 10px;
	text-align: center;
	padding: 20px 10px 0 10px;
	
	h2{
		font-size: 2rem;
		font-weight: 500;
		text-transform: none;
		margin-bottom: 15px;
		color: #fff;
	}
	img{
		max-width: 100%;
	}	
	.btn.btn-primary,
	.btn.btn-primary:hover{
		padding: 3px 10px;
		font-size: .8rem;
		border: 0;
	}
	.broadcast-ads-button-wrapper{
		margin-top: -20px;
	}
	
	@media(max-width: 1000px){
		.columns-grid-4{
			grid-template-columns: repeat(2, minmax(0, 1fr));
		}
	}
	@media(max-width: 700px){
		.columns-grid-4{
			grid-template-columns: repeat(1, minmax(0, 1fr));
		}
	}
	
}

.broadcast-ads-header{
	p{
		font-size: 1.2rem;
		font-weight: 300;
		color: #fff;
		line-height: 1.2;
	}
}