.site-header-wrapper{
	background: rgba(0,0,0,.4) !important;
}

.home-hero{
	color: #fff;
	min-height: 624px;
	height: 42vw;
	background: linear-gradient(to right,  #375299 0%,#7d2e83 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	
	.home-hero-background-image{
		background-size: auto 100%;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		height: 100%;
	}
	.home-hero-content{
		
	}
	.strapline{
		font-size: .9rem;
		color: #B1F5EE;
	}
	h1{
		color: #fff;
		margin-bottom: 30px;
		font-size: 3.5rem;
	}
	p, div{
		color: #fff;
	}
	p{
		margin-bottom: 10px;
		font-size: 1.02rem;
	}

}
.home-hero-content-column{
	/* background: rgba(0,0,0,.7); 
	padding: 25px;*/
}
.home-hero-logo {
   	width: 100%;
    margin-bottom: 10px;
    display: inline-block;
    vertical-align: middle;
    margin-top: -15px;
}
.home-hero-text-intro{
	padding-bottom: 25px;
	padding-top: 15px;
}
.home-hero-text-intro p{
	font-size: 1.5rem;
    line-height: 1.1;
    font-weight: 700;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
	
	margin: 0;
	padding: 0 0 5px 0;
}
.hero-subtitle{
	background: #0D9EE8;
    padding: 3px 10px;
    color: #fff;
    margin-bottom: 25px;
    margin-top: 5px;
    display: inline-block;
    font-weight: 700;
	text-align: center;
	width: 100%;
}
@media(max-width: 600px){
	.hero-subtitle{
		width: 100%;
	}
}
@media(max-width: 450px){
	.home-hero-logo{
		max-width: 100% !important;
	}
}
@media(max-width: 900px){
	.home-hero{
		height: auto;
		padding-top: 100px;
		text-align: center;
		
		.hero-contain{
			display: block;
		}
		h1{
			font-size: 2.4rem;
		}
	}
	#page-hero.small-medium{
		max-height: none;
	}
	.col-callout{
		padding-top: 25px;
		padding-bottom: 25px;
	}
	.heading-max-500 h1{
		max-width: 100%;
	}
}

@media(max-width: 400px){
	.home-hero-callout{
		width: 300px;
		height: 300px;
	}
}



.hero-callout{
	border: 1px solid rgba(255,255,255,.7);
	padding: 8px;
	border-radius: 50%;
	width: 274px;
	height: 274px;

	p{
		font-style: italic;
		font-size: 1.6rem;
		color: #fff;
	}
	.strapline{
		color: #fff;
	}
	.hero-callout-text-wrapper{
		max-width: 75%;
	}
}

.hero-callout-inner{
	background: rgba(0,0,0,.2);
	border: 2px solid rgba(255,255,255,.7);
	
	width: 100%;
	height: 100%;
	border-radius: 50%;

	display: flex;
	justify-content: center;
	align-items: center;
}