.speakers-tiles{
	gap: 30px;
}


div.speakers-list-strapline{	
	font-size: 1rem;
	font-weight: 700;
	color: #3F4685;
	color: #30B4A7;
	line-height: 1.1;
	margin-bottom: 4px;
}
.speakers-list-name{
	font-weight: 700;
	font-size: 1rem;
	line-height: 1.1;
	margin-bottom: 0;
	color: #535353;
	margin-bottom: 4px;
}
.speakers-list-title{
	font-size: .8rem;
	color: rgba(0,0,0,.6);
	font-weight: 400;
	line-height: 1.2;
}

.speakers-list-image{
	width: 100%;
	max-width: 260px;
	margin-bottom: 20px;
	border-radius: 8px;
	overflow: hidden;
	height: 100px;
	background-position: left center;
	background-size: cover;
}



.speakers-list h2{
	font-size: 1.8rem;
	/* margin-bottom: 1rem; */
}


/* Speaker Detail */
	div.speaker-detail-company{
		/*
		font-size: 1rem;
		font-weight: 700;
		color: #3F4685;
		color: #30B4A7;
		line-height: 1.1;
		*/
		margin-bottom: 4px;
	}
	#speaker-detail-name{
		font-weight: 700;
		font-size: 1rem;
		line-height: 1.1;
		margin-bottom: 0;
		/*color: #535353; */
		margin-bottom: 4px;
	}
	.speaker-detail-title{
		font-size: .8rem;
		color: rgba(0,0,0,.6);
		font-weight: 400;
		line-height: 1.2;
	}
	.speaker-detail .speakers-list-image{
		max-width: 275px;
	}
	.speakers-list-image img{
		 width: 275px;
		height: 100px;
		object-fit: cover;
		object-position: 0 50%;
	}
	.speaker-detail-session-tile{
		border-left: 3px solid #6975FC;
		padding-left: 10px;
		margin-bottom: 35px;
	}
	.speaker-detail h4{
		font-weight: bolder;
	}
	.speaker-detail-session-description{
		font-size: .9rem;
	}
/* Speaker Detail */


.right-panel{
	ul{
		margin-left: 20px;
	}
}