#hero-footer-cta-narrow{
	background-color: #222541;
	background: linear-gradient(to right,  #08c3c4 0%,#627bf8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;	
	margin: 0 auto;
	border-radius: 5px;
	padding: 11px 30px;
	
	.btn-primary{
		padding: 6px 35px;
	}
	
	h2{
		color: #fff;
		font-size: 1.3rem;
		margin-bottom: 0;
		font-weight: 200;
		text-transform: none;
		font-weight: 300;
	}
	p{
		color: #fff;
		line-height: 1.1;
		margin: 0;
	}
	.btn-primary{
		background: #F9B112;
		font-weight: bolder;
		font-size: 1.2rem;
		/* border: 2px solid #fff; */
	}
	
	@media(max-width: 700px){
		h2{
			margin-bottom: 15px;
		}
	}
}